*, *::before, *::after {
  box-sizing: border-box;
  font-family: "Gotham Rounded", sans-serif;
  font-weight: normal;
}

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(to right,#00aaff, #00ff6c);
}
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator-grid {
  display: grid;
  justify-content: center;
  align-content : center;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: repeat(4, 100px);
}

.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: none;
  border: 1px solid #fff;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}
.calculator-grid > button:hover {
  background-color: rgba(255, 255, 255, .9);
}

.span-two {
  grid-row: span 2;
}

.output {
  background-color: rgba(0,0,0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  cursor: inherit;
  min-width: 500px;
  min-height: 120px;
}

.output .previous-operand{
  color: rgba(255,255,255, .75);
  font-size: 1.5rem;
}

.output .current-operand{
  color: rgba(255,255,255);
  font-size: 2.5rem;
}
.clean {
  background: linear-gradient(to right, #ff0000b4,#2bff0080);
}
.clean:hover {
  background: linear-gradient(to right, #ff000056,#ffe6007a);
}